@import reset
@import typography

@import blocks/logo
@import blocks/menu
@import blocks/btn
@import blocks/services-item
@import blocks/works-item
@import blocks/slider-item
@import blocks/member
@import blocks/social
@import blocks/price
@import blocks/field
@import blocks/form
@import blocks/social-footer

.body
    max-width: 1600px
.wrapper
    max-width: 1170px
    margin: 0 auto
    padding: 100px 0
    background-color: red