.form
    width: 50%
    max-width: 800px
    background: linear-gradient(to top, rgba(41,50,60, 0.7) 0%, rgba(72,85,99, 0.7) 100%), url("../img/form-laptop.jpg") center no-repeat
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: 800px)
        width: 90vw
        height: 90vw
    @media screen and (max-width: 480px)
        width: 100vw
        height: auto
    form
        width: 53%
        min-width: 411px
        margin: 112px auto
        @media screen and (max-width: 1025px)
            min-width: 0
            width: 91%
            margin: 16px auto
