.services-item
    max-width: 270px
    width: 23.5%
    @media screen and (max-width: 800px)
        width: 50%
        margin-bottom: 40px
    @media screen and (max-width: 480px)
        width: 100%
    &__img
        margin: 0 auto
        border-radius: 50%
        width: 120px
        height: 120px
        background: url("../img/services-laptop.png") center no-repeat, radial-gradient(circle 60px at center, #485563 0%, #29323c 100%)
        margin-bottom: 40px
        &_2
            background: url("../img/services-adjust.png") center no-repeat, radial-gradient(circle 60px at center, #485563 0%, #29323c 100%)
        &_3
            background: url("../img/services-map.png") center no-repeat, radial-gradient(circle 60px at center, #485563 0%, #29323c 100%)
        &_4
            background: url("../img/services-heart.png") center no-repeat, radial-gradient(circle 60px at center, #485563 0%, #29323c 100%)


    &__text
        margin-top: 24px